[Unit]
Description=Jakeloud
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Group=root
ExecStart=/usr/bin/env node /etc/jakeloud/jakeloud/server.js

[Install]
WantedBy=multi-user.target
